<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <h2>Login</h2>
  <form th:action="@{/login}" th:object="${user}"  method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" th:field="*{email}" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" th:field="*{password}" required>
    </div>
    <div>Hatalı Giriş</div>
    <button type="submit">Giriş Yap</button>
  </form>
  <a href="/register" class="btn btn-success">Kayıt ol</a>
  <a >Hatalı giriş</a>
</div>
</body>
</html>
